



.LOGO:hover img{
    opacity: 0.8;
    transform: scale(0.9);

    
}

.LOGO h1{
    padding-bottom: 100px;
    text-align: center;
    color:red;
font-size: xx-large



}
.b1 {

    box-shadow: 5px -5px;  
    margin-top: 20px;    
color: white;
background-color: rgb(10, 216, 243);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
justify-content: right;
text-transform: uppercase;
text-decoration-color: red;
border-bottom: 12pt silver red;

}
.b2{
    box-shadow: 5px -5px;  
    margin-top: 20px;    
color: white;
background-color: rgb(10, 216, 243);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
justify-content: right;
text-transform: uppercase;
text-decoration-color: red;
border-bottom: 12pt silver red;

}
.b3{
    box-shadow: 5px -5px;  
    margin-top: 20px;    
color: white;
background-color: rgb(10, 216, 243);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
justify-content: right;
text-transform: uppercase;
text-decoration-color: red;
border-bottom: 12pt silver red;

}
.R1 h1{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    border-collapse: ridge;
  
}

.FAR img {

    margin: 100px;
    border-style:  solid dotted solid dotted;
    
    color: rgb(8, 8, 8);

    justify-content:center;
}
.FAF p{

    font-family: Arial Black;
    margin-bottom: 1000px;

}